[submodule "Number-Recognizing-Neural-Net"]
	path = Number-Recognizing-Neural-Net
	url = https://github.com/Thomas-Reis/Number-Recognizing-Neural-Net
[submodule "AI-Final"]
	path = AI-Final
	url = https://github.com/Bradon-Lodwick/AI-Final
[submodule "cloud-computing-final"]
	path = cloud-computing-final
	url = https://github.com/Bradon-Lodwick/cloud-computing-final
[submodule "DistributedProject2018"]
	path = DistributedProject2018
	url = https://github.com/Thomas-Reis/DistributedProject2018
[submodule "Blackjack-AI"]
	path = Blackjack-AI
	url = https://github.com/Thomas-Reis/Blackjack-AI
